<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IniciarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginClienteActivity"
            android:label="@string/title_activity_login_cliente"
            android:parentActivityName=".IniciarActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.IniciarActivity" />
        </activity>
        <activity
            android:name=".CadastroBarbeariaActivity"
            android:label="@string/title_activity_cadastro_barbearia"
            android:parentActivityName=".IniciarActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.IniciarActivity" />
        </activity>
        <activity
            android:name=".PesquisaActivity"
            android:label="@string/title_activity_principal_cliente"
            android:parentActivityName=".LoginClienteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.LoginClienteActivity" />
        </activity>
        <activity
            android:name=".PrincipalBarbeiroActivity"
            android:label="@string/title_activity_principal_barbeiro"
            android:parentActivityName=".CadastroBarbeariaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.CadastroBarbeariaActivity" />
        </activity>
        <activity
            android:name=".PrincipalClienteActivity"
            android:label="@string/title_activity_principal_cliente"
            android:parentActivityName=".PesquisaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.PesquisaActivity" />
        </activity>
        <activity
            android:name=".ProdutoClienteActivity"
            android:label="@string/title_activity_produto_cliente"
            android:parentActivityName=".PrincipalClienteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.PrincipalClienteActivity" />
        </activity>
        <activity
            android:name=".HorarioClienteActivity"
            android:label="@string/title_activity_horario_cliente"
            android:parentActivityName=".PrincipalClienteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.PrincipalClienteActivity" />
        </activity>
        <activity
            android:name=".ProdutoBarbeiroActivity"
            android:label="@string/title_activity_produto_barbeiro"
            android:parentActivityName=".PrincipalBarbeiroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.PrincipalBarbeiroActivity" />
        </activity>
        <activity
            android:name=".HorarioBarbeiroActivity"
            android:label="@string/title_activity_horario_barbeiro"
            android:parentActivityName=".PrincipalBarbeiroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.PrincipalBarbeiroActivity" />
        </activity>
        <activity
            android:name=".EditarProdutoActivity"
            android:label="@string/title_activity_editar_produto"
            android:parentActivityName=".ProdutoBarbeiroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.barba.ProdutoBarbeiroActivity" />
        </activity>
    </application>

</manifest>